@model ToDo_Calendar.Models.TasksModel
@{
    ViewBag.Title = "EditSelectedTask";
}

<div class="container day-header">
    <div>EDIT SELECTED TASK</div>
</div>

@using (Html.BeginForm("", "FullWeek"))
{

    <div id="form-container">
        <div id="edit-task-form">
            <input id="task-name-text" type="text" name="obj.TaskTitle" maxlength="20" value="@Model.TaskTitle" />
            <br />
            <br />
            <input id="task-text-box" name="obj.TaskText" maxlength="150" value="@Model.TaskText" wrap="true" />
        </div>
    </div>
        <div class="content" id="edit-navigation">

            <a class="go-back"  href="@Url.Action("BackToSelectedDay", "FullWeek")">| GO BACK </a>
            <button type="submit" class="add-task">| ADD THIS TASK</button>

        </div>
}