
@{
    ViewBag.Title = "SelectedTask";
}
<body>
    <div class="container day-header">
        <div>CREATE NEW TASK</div>
    </div>
    @using (Html.BeginForm("InsertNewTask", "FullWeek"))
    {
        
        <div id="form-container">
            <div id="new-task-form">
                <input id="task-name-text" type="text" name="obj.TaskTitle" placeholder="Enter task name here..." />
                <br />
                <br />
                <textarea id="task-text-box" name="obj.TaskText" placeholder="Enter task information here..."></textarea>
            </div>
        </div>
        <div class="content" id="go-back">

            <a class="go-back" href="@Url.Action("BackToSelectedDay", "FullWeek")">| GO BACK </a>
            <button type="submit" class="add-task">| ADD THIS TASK</button>

        </div>       
    }


</body>